<ion-tabs [selectedIndex]="mySelectedIndex" >
  <ion-tab [root]="tab1Root" tabTitle="Feeds" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Actions" tabIcon="menu"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Notifications" tabIcon="globe"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>
