<ion-header>
  <ion-navbar>
    <ion-title>Quiz - Set 1</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      Q: What is Microblock TM technology?
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Helps in 50% faster ice-making</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Prevents the growth of germs and microbes by 99.9%</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Prevents the mixing of odour in refrigerator</ion-label>
          <ion-checkbox color="dark" ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Helps in 40% faster bottle cooling</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Q: What is Microblock TM technology?
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Helps in 50% faster ice-making</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Prevents the growth of germs and microbes by 99.9%</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Prevents the mixing of odour in refrigerator</ion-label>
          <ion-checkbox color="dark" ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Helps in 40% faster bottle cooling</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Q: What is Microblock TM technology?
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Helps in 50% faster ice-making</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Prevents the growth of germs and microbes by 99.9%</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Prevents the mixing of odour in refrigerator</ion-label>
          <ion-checkbox color="dark" ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Helps in 40% faster bottle cooling</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Q: What is Microblock TM technology?
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Helps in 50% faster ice-making</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Prevents the growth of germs and microbes by 99.9%</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Prevents the mixing of odour in refrigerator</ion-label>
          <ion-checkbox color="dark" ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Helps in 40% faster bottle cooling</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab (click)="submitQuiz()" right bottom>
    <button ion-fab color="primary"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>
</ion-content>
