<ion-header>
  <ion-navbar>
    <ion-title>Quiz</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item>
        <ion-row (click)="attend_quiz()">
          <ion-col>Quiz - Set 1
          </ion-col>
          <ion-col text-right><ion-icon name="arrow-forward"></ion-icon></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <small>Published On </small>
            <small color="primary"> &nbsp; 3 Mar 2017</small>
          </ion-col>
        </ion-row>
        <hr>
      </ion-item>
    </ion-list>
    <ion-fab (click)="gotohome()" right bottom>
      <button ion-fab color="primary"><ion-icon name="home"></ion-icon></button>
    </ion-fab>
</ion-content>
