<ion-header>
  <ion-navbar>
    <ion-title>My Dashboard</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
            <ion-card>
              <ion-row text-center>
                  <ion-col>
                    <ion-row text-center>
                      <ion-col>
                        <ion-icon name="thumbs-up"></ion-icon>
                        90%
                      </ion-col>
                    </ion-row>
                    <ion-row text-center>
                      <ion-col>PJP Compliance
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col>
                    <ion-row text-center>
                      <ion-col>
                        <ion-icon name="thumbs-up"></ion-icon>
                        7
                      </ion-col>
                    </ion-row>
                    <ion-row text-center>
                      <ion-col>Avg Visits Per Day
                      </ion-col>
                    </ion-row>
                  </ion-col>
              </ion-row>
            </ion-card>
        </ion-col>

      </ion-row>
      <ion-row>
          <ion-card>
              <ion-row text-center>
                  <ion-col text-center>Audit Score</ion-col>
                  <ion-col>
                      <ion-icon name="thumbs-down"></ion-icon>
                      4/10
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <progress-bar></progress-bar>
                </ion-col>
              </ion-row>

          </ion-card>
      </ion-row>
      <ion-row>
          <ion-card>
            <ion-row text-center>
                <ion-col text-center>Quiz Score</ion-col>
                <ion-col>
                    <ion-icon name="thumbs-up"></ion-icon>
                    8/10
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <progress-bar></progress-bar>
              </ion-col>
            </ion-row>
            <ion-row>
                <canvas #lineCanvas></canvas>
            </ion-row>
          </ion-card>
      </ion-row>
  </ion-grid>
  <ion-fab (click)="gotohome()" right bottom>
    <button ion-fab color="primary"><ion-icon name="home"></ion-icon></button>
  </ion-fab>
</ion-content>
