<ion-content class="outer-content speaker-list">

  <ion-card style="border: 1px solid #ddd8d8;" class="speaker-card">

      <ion-item>
        <ion-avatar item-left>
          <img src="assets/img/speakers/rabbit.jpg">
        </ion-avatar>
        <ion-input type="text" placeholder="Post Here...">
        </ion-input>

      </ion-item>
      <hr/>

    <ion-row no-padding>
      <ion-col text-center>
        <button ion-button clear small color="primary" icon-left >
          <ion-icon name="send"></ion-icon>
          Post
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="primary" icon-left >
          <ion-icon name='camera'></ion-icon>
          Photo
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card class="speaker-card">
    <ion-card-header>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/img/speakers/cheetah.jpg">
        </ion-avatar>
        <h2>Charlie</h2>

      </ion-item>

    </ion-card-header>

    <ion-card-content class="outer-content">
      <ion-list>
        <button ion-item >
          <h3>Checkout Youtube Video</h3>
        </button>
        <ion-item>
          <iframe src="http://www.youtube.com/embed/shGhZzJ7o-g?rel=0" frameborder="0" allowfullscreen></iframe>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-left >
          <ion-icon name="thumbs-up"></ion-icon>
          Like
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-left >
          <ion-icon name='chatboxes'></ion-icon>
          Comment
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="primary" icon-left >
          <ion-icon name='share-alt'></ion-icon>
         Share
        </button>
      </ion-col>

    </ion-row>

  </ion-card>
  <ion-card *ngFor="let feed of feeds" class="speaker-card">
    <ion-grid>
      <ion-row>
        <ion-col width-25 text-center>
          <ion-icon color="primary" style="font-size:60px;" item-left [name]="feed.icon">
          </ion-icon>
        </ion-col>
        <ion-col width-75 >
          {{feed.desc}}

          <ion-row *ngIf="feed.congrats">
            <ion-col>
              <hr>
              <small><ion-icon color="primary" name="thumbs-up"></ion-icon> {{feed.congrats}} people congratulated</small>
            </ion-col>
          </ion-row>
          <ion-row text-right class="outer-content" *ngIf="feed.need_btn(feed)">
            <ion-col>
            <hr>
            <button ion-button (click)="feed.btn_fnc(feed)">{{feed.btn_text}}</button>
          </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngFor="let speaker of speakers" class="speaker-card">

    <ion-card-header>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="speaker.profilePic" alt="Speaker profile pic">
        </ion-avatar>
        <h2>{{speaker.name}}</h2>

      </ion-item>

    </ion-card-header>

    <ion-card-content class="outer-content">
      <ion-list>

        <button ion-item *ngFor="let session of speaker.sessions" (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>
        </button>

        <button ion-item (click)="goToSpeakerDetail(speaker)">
          <h3>About {{speaker.name}}</h3>
        </button>
      </ion-list>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-left (click)="goToSpeakerTwitter(speaker)">
          <ion-icon name="thumbs-up"></ion-icon>
          Like
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-left (click)="openContact(speaker)">
          <ion-icon name='chatboxes'></ion-icon>
          Comment
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="primary" icon-left (click)="openSpeakerShare(speaker)">
          <ion-icon name='share-alt'></ion-icon>
         Share
        </button>
      </ion-col>

    </ion-row>

  </ion-card>
</ion-content>
