<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="cog" item-left></ion-icon>
          General
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="ribbon" item-left></ion-icon>
          Security
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="clipboard" item-left></ion-icon>
          Notifications
      </ion-item>
      <ion-item>
        <ion-icon name="wifi" item-left></ion-icon>
          Posts
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out" item-left></ion-icon>
          Logout
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>
