.grid{
  padding: 0px;
}
.header  {
  background-color:lightgrey;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}
