<ion-header>
  <ion-navbar>
    <ion-title>DayWise Atttendance</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="grid">
    <ion-row class="header row">
      <ion-col class="header col">Date</ion-col>
      <ion-col class="header col">In</ion-col>
      <ion-col class="header col">Out</ion-col>
      <ion-col class="header col">Hrs</ion-col>
      <ion-col class="header col">Type</ion-col>
    </ion-row>
    <ion-row  class="row" *ngFor="let d of data">
      <ion-col class="col">{{d.name}}</ion-col>
      <ion-col class="col">{{d.code}}</ion-col>
      <ion-col class="col">LK {{d.limit}}</ion-col>
      <ion-col class="col">{{d.account}}</ion-col>
      <ion-col class="col">{{d.account}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
