<ion-header>
  <ion-navbar>
    <ion-title>Mark Atttendance</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form #markAttendance="ngForm" novalidate>

    <ion-list>

      <ion-item>
        <ion-label stacked color="primary">Option</ion-label>
        <ion-select [(ngModel)]="attendance" name="attendance">
          <ion-option value="A">Absent</ion-option>
          <ion-option value="P">Present</ion-option>
          <ion-option value="O">Off</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked color="primary">Remarks</ion-label>
        <ion-input [(ngModel)]="remarks" name="remarks" type="text" >
        </ion-input>
      </ion-item>
      <ion-item text-center>
        <!-- <ion-card style="width:100px;">
          <img height="100" src="assets/img/ica-slidebox-img-2.png"/>
        </ion-card> -->

          <ion-row>
            <ion-col width-25>

            </ion-col>
            <ion-col width-50><ion-card><img src="assets/img/ica-slidebox-img-2.png"/></ion-card>
            </ion-col>
            <ion-col width-25></ion-col>
          </ion-row>

      </ion-item>

    </ion-list>
		<!-- <ion-row responsive-sm>
			<ion-col>
				<button ion-button type="submit" (click)="submitAttendance()" block>Submit</button>
			</ion-col>

		</ion-row> -->
  </form>
  <ion-fab (click)="submitAttendance()" right bottom>
    <button ion-fab color="primary"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>
</ion-content>
