<ion-header>
  <ion-navbar>
    <ion-title>View Atttendance</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Start Date</ion-label>

        <ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" ></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label floating>End Date</ion-label>

        <ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" ></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-header>
      Attendance Summary
      <hr>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Total
          <ion-note item-right><h3>16</h3></ion-note>
        </ion-item>
        <ion-item>
          Present
          <ion-note item-right><h3>14</h3></ion-note>
        </ion-item>
        <ion-item>
          Absent
          <ion-note item-right><h3>1</h3></ion-note>
        </ion-item>
        <ion-item>
          Off
          <ion-note item-right><h3>0</h3></ion-note>
        </ion-item>
        <ion-item>
          Unmarked
          <ion-note large color="primary" item-right>
            <h3>1</h3></ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Hourly Summary
      <hr>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Total Working Hrs.
          <ion-note item-right><h3>105</h3></ion-note>
        </ion-item>
        <ion-item>
          Average Working Hrs.
          <ion-note item-right><h3>7.5</h3></ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab right bottom (click)="daywise()">
    <button ion-fab color="primary"><ion-icon name="calendar"></ion-icon></button>
  </ion-fab>
</ion-content>
