<ion-content>
	<ion-grid>
		<ion-card>
			  <ion-card-header color="primary">
					Frequent Actions
				</ion-card-header>
				<ion-card-content text-center>
					<ion-row no-padding >
						<ion-col width-25 class="pointer" (click)="markAttendance()" >

								<ion-row text-center>
									<ion-col>

										<ion-icon class="large-icon" name="contact"></ion-icon>

									</ion-col>
								</ion-row>
								<ion-row >
									<ion-col>
										Mark DAT
									</ion-col>
								</ion-row>

						</ion-col>
						<ion-col width-25 class="pointer" (click)="loadDashboard()">
								<ion-row text-center>
									<ion-col>
										<ion-icon class="large-icon" name="speedometer"></ion-icon>
									</ion-col>
								</ion-row>
								<ion-row >
									<ion-col>
										Dashboard
									</ion-col>
								</ion-row>

						</ion-col>
						<ion-col width-25 (click)="new_visit()" class="pointer">
							<ion-row text-center>
								<ion-col>
									<ion-icon text-primary class="large-icon" name="walk"></ion-icon>
								</ion-col>
							</ion-row>
							<ion-row >
								<ion-col>
									New Visit
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col width-25 class="pointer" (click)="goto_quiz(	)">
							<ion-row text-center>
								<ion-col>
									<ion-icon class="large-icon" name="help-circle"></ion-icon>
								</ion-col>
							</ion-row>
							<ion-row >
								<ion-col>
									New Quiz
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-card-content>
		</ion-card>
  <ion-row>
	  <ion-col width-50 (click)="viewAttendance()">
			<ion-card>
			  <ion-card-content color="primary" text-center>

			    View <br/> Attendance

			  </ion-card-content>
			</ion-card>
		</ion-col>
	  <ion-col width-50>
			<ion-card>
			  <ion-card-content color="primary" text-center>
			    Visit <br/> Reports
			  </ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row>

		<ion-col width-50>
			<ion-card>
				<ion-card-content color="primary" text-center>
					Salary <br/> Slips
				</ion-card-content>
			</ion-card>
		</ion-col>
		<ion-col width-50>
			<ion-card>
				<ion-card-content color="primary" text-center>
					My <br/> Incentives
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>


  <ion-row>
	  <ion-col width-50>
			<ion-card>
			  <ion-card-content color="primary" text-center>
			    My <br/> Trainings
			  </ion-card-content>
			</ion-card>
		</ion-col>
	  <ion-col width-50 class="pointer" (click)="goto_quiz(	)">
			<ion-card>
			  <ion-card-content color="primary" text-center>
			    My <br/> Quizzes
			  </ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>

	</ion-grid>
</ion-content>
