<ion-header>
  <ion-navbar>
    <ion-title>New Visit</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
<ion-item>
  <ion-label>ABC Store</ion-label>
</ion-item>
</ion-list>
<ion-card>
  <ion-list>
    <ion-item  (click)="opengsb()">
      <ion-icon color="danger" name="warning" item-left></ion-icon>
        GSB Report
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item (click)="openvisibility()">
      <ion-icon color="danger" name="warning" item-left></ion-icon>
        Visibility Report
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item (click)="opencompetition()">
      <ion-icon color="danger" name="warning" item-left></ion-icon>
        Competition Activity
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item (click)="openstock()">
      <ion-icon color="danger" name="warning" item-left></ion-icon>
        Stock Availability
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>

  </ion-list>
</ion-card>
</ion-content>
