<ion-header>
  <ion-navbar>
    <ion-title>New Visit</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
<ion-item>
  <ion-label>Select Store</ion-label>
  <ion-select>
    <ion-option value="nes">ABC store</ion-option>
    <ion-option value="n64">XYZ store</ion-option>
    <ion-option value="ps">Store 1</ion-option>
    <ion-option value="genesis">Store 2</ion-option>
  </ion-select>
</ion-item>
</ion-list>
<ion-fab right bottom (click)="visitformlist()">
  <button ion-fab color="primary" ><ion-icon name="play"></ion-icon></button>
</ion-fab>
</ion-content>
