<ion-header>
  <ion-navbar>
    <ion-title>New Visit: Stock Report</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Screen for collecting stock   information</ion-label>
    </ion-item>
</ion-list>
<ion-fab right bottom (click)="next()">
  <button ion-fab color="primary" ><ion-icon name="arrow-forward"></ion-icon></button>
</ion-fab>
</ion-content>
