<ion-header>
  <ion-navbar>
    <ion-title>New Visit</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
<ion-item text-center>
  <ion-icon color="success" style="font-size:150px;" name="checkmark"></ion-icon>
  <h4>Visit Report submitted successfully!</h4>
</ion-item>
</ion-list>
<ion-fab (click)="gotohome()" right bottom>
  <button ion-fab color="primary"><ion-icon name="home"></ion-icon></button>
</ion-fab>
</ion-content>
